// global
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 1rem; // fallback for older browsers
  font-size: calc(1vw + 1vh + 0.5vmin); // fluid typography
}

html,
body,
.v-application {
  color: #525f7f;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  word-break: keep-all;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background: #eee;
  min-width: 100vw;
  overflow-x: hidden;
}

.v-application {
  a {
    text-decoration: none;
  }
  code,
  kbd,
  pre {
    background-color: #000 !important;
    box-shadow: none !important;
    color: #ebc6c7 !important;
  }
  pre {
    min-width: 100%;
    code {
      max-width: 100%;
      min-width: 100%;
    }
    code {
      &:before,
      &:after {
        content: '';
      }
    }
  }
  .v-card {
    .v-card__title,
    .v-card__subtitle,
    .v-card__text {
      word-break: keep-all;
    }
  }
}

// header
.v-toolbar__content {
  justify-content: space-between;
  .v-avatar {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 0 0 4px #fff;
  }

  .border-top {
    border-top: 1px solid #666 !important;
  }

  .v-sheet {
    background-color: #eee !important;
  }
}

// footer
.v-footer {
  border: 1px solid #000;
}

// cards (global)
.justify-space-evenly {
  justify-content: space-around;
  justify-content: space-evenly;
}

.flex-0 {
  flex: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// table of contents

.table-of-contents a {
  color: #0d47a1;
}

// <nuxt-content> styling

.nuxt-content {
  a {
    color: #0d47a1;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.125;
    margin-top: 3rem;
    margin-bottom: 1.125rem;
  }
  h2 {
    font-size: 1.67rem;
  }
  h3 {
    font-size: 1.33rem;
  }
  ul {
    margin-bottom: 1.5rem;
  }
}

.nuxt-content-highlight {
  margin: 1rem 0 2rem;
  & ~ p {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 960px) {
  .nuxt-content {
    p {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }
    h2 {
      font-size: 2.125rem;
    }
    h3 {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

// hashtag for markdown headers in content files

.icon.icon-link {
  background-image: url('~assets/svg/icon-hashtag.svg');
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: 2rem 2rem;
  vertical-align: text-bottom;
}

.nuxt-content h2 a > .icon.icon-link {
  width: 2rem;
  height: 2rem;
  background-size: 2rem 2rem;
}
.nuxt-content h3 a > .icon.icon-link {
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem 1.5rem;
}

@media only screen and (max-width: 960px) {
  .icon.icon-link {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
  }

  .nuxt-content h2 a > .icon.icon-link {
    width: 2.5rem;
    height: 2.5rem;
    background-size: 2.5rem 2.5rem;
  }
}
